<a href="https://colab.research.google.com/github/LucasLessa1/challengeBain/blob/main/Desafio_Bain_%26_Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1 - Imports**
First, we import the libraries that will be used throughout the code.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import gdown

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/dist-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

#**2 - Pre-Processing**
Then we import the data into the notebook. It is important to note that once the data was sent by the organizers (in .csv format), the group decided to save it on an AWS RDS instance. the organizers at Bain would have no problems running the code.

Then we import the data into the notebook. It is important to note that as soon as the data was sent by the organizers (in .csv format), the group decided to save it in a folder in Google Drive. That way, the organizers at Bain would have no problems running the code.

In [3]:
#download data csv

def download(id):
  url = 'https://drive.google.com/uc?id=' + str(id)
  gdown.download(url, output = None, quiet = False)


download('1ysfB1yjSXUVn-pxo2Y5mlnNJo6d9JdjG')

Downloading...
From: https://drive.google.com/uc?id=1ysfB1yjSXUVn-pxo2Y5mlnNJo6d9JdjG
To: /content/historical-database.csv
100%|██████████| 3.64M/3.64M [00:00<00:00, 98.6MB/s]

In [4]:
df = pd.read_csv('historical-database.csv',delimiter =";")

In [5]:
#download data csv - new method

import mysql.connector
from mysql.connector import Error


mydb = mysql.connector.connect(host='accountingbob.cs8refzom5ab.us-east-1.rds.amazonaws.com',
                                     database='bain',
                                     user='admin',
                                     password='oldnumber7')
if mydb.is_connected():
    db_Info = mydb.get_server_info()
    print("Connected to MySQL Server version ", db_Info)
else:
    print("Error, not conected")

query = 'SELECT * FROM bain.raw_data'

df = pd.read_sql(query, con = mydb)

Connected to MySQL Server version  8.0.23

In [6]:
df.rename(columns = {'destinated_area,':'destinated_area'}, inplace = True)
df

             year         city_code product_type    product destinated_area
0      01/01/1974  960b4f2c94a2fb2c    temporary     Others              0,
1      01/01/1974  746cc42bfb8f6b62    temporary     Others              0,
2      01/01/1974  6cce2bf873870afc    temporary     Others              0,
3      01/01/1974  4de42e351006a2ae    temporary     Others              0,
4      01/01/1974  5b6072f8f6d37acc    temporary     Others              0,
...           ...               ...          ...        ...             ...
73739  01/01/2013  74d75dde6dc4a5ec      pasture  Livestock     150866,5644
73740  01/01/2014  74d75dde6dc4a5ec      pasture  Livestock      152446,396
73741  01/01/2015  74d75dde6dc4a5ec      pasture  Livestock     154681,0205
73742  01/01/2016  74d75dde6dc4a5ec      pasture  Livestock     164706,2778
73743  01/01/2017  74d75dde6dc4a5ec      pasture  Livestock     165220,8728

[73744 rows x 5 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73744 entries, 0 to 73743
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             73744 non-null  object
 1   city_code        73744 non-null  object
 2   product_type     73744 non-null  object
 3   product          73744 non-null  object
 4   destinated_area  73744 non-null  object
dtypes: object(5)
memory usage: 2.8+ MB

In [8]:
df.isna().sum()

year               0
city_code          0
product_type       0
product            0
destinated_area    0
dtype: int64

In [9]:
df.iloc[24408-2]

year                     01/01/1994
city_code          5e1e131ec84f4c87
product_type              temporary
product                         Soy
destinated_area                   ,
Name: 24406, dtype: object

In [10]:
df['destinated_area'].value_co

AttributeError: ignored

In [ ]:
df.dtypes

In [ ]:
(df==0).sum()q

In [ ]:
lista=[]
teste = df.destinated_area.value_counts()
print(teste)

In [ ]:
df

In [ ]:
df["destinated_area"] = df['destinated_area'].replace([''], np.nan)

In [ ]:
df.isna().sum()

In [ ]:
(df=='').sum()

In [ ]:
df.dtypes

In [ ]:
df = df.astype({"destinated_area": float})
df.dtypes

In [ ]:
df.isna().sum()

In [ ]:
aux = df["destinated_area"].mean()
df["destinated_area"] = df['destinated_area'].replace([np.nan], aux)

df.isna().sum()

In [ ]:
df.iloc[24408-2]

In [ ]:
df['product'].unique()

In [ ]:
df['year'].unique()

In [ ]:
df['date'] = pd.to_datetime(df['year'],format= "%d/%m/%Y")

In [ ]:
df['year'] = pd.DatetimeIndex(df['date']).year

In [ ]:
df['date'].unique()

In [ ]:
df.groupby('product')['destinated_area'].sum().sort_values(ascending=True)

In [ ]:
df.head()